<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Sign Out', destroy_user_session_path if user_signed_in? %>
    <%= link_to 'Sign In', new_user_session_path unless user_signed_in? %>
    <p id="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
